/* relief */
way[relief] {color: brown; opacity: 0.5;}
way[relief=contour] { 
    width: 1;
    text: height; text-color: brown; font-size: 10; text-position: offset; text-offset: 8; 
    }

way[relief] {color: brown; opacity: 0.5;}

/* rivesrs */
way[river=stream] {width: 1;}
way[river=kneedeep] {width: 2;}
way[river=wide] {width: 3;}
way[river=drying] {width: 1; dashes: 4, 3;}
way[river] {color: #0000ff;}

/* roads */
way[road=highway] {color: #ff0000; width: 3;}
way[road=major] {color: #ff0000; width: 2;}
way[road=asphalt] {color: #ff0000; width: 1;}
way[road=cutting_wide] {color: cyan; width: 2; dashes: 6, 6;}
way[road=railway] {color: #000; width: 3;}
way[road=gasline] {color: cyan; width: 2; dashes: 12, 7;}
way[road=powerline_major] {color: cyan; width: 2;}
way[road=powerline] {color: cyan; width: 1;}

/* roads with passabilities */


way[passability]::pass{width: 6}
way[passability=2]::pass {color: #00b000;}
way[passability=3]::pass {color: #00b000; dashes: 8, 4}
way[passability=4]::pass {color: #fe7}
way[passability=5]::pass {color: #fb7}

way[road=dirt][!drive] { color: black; width: 1.5; dashes: 8, 8}
way[road=dirt][drive]{color: black; width: 1.5;}
way[road=advanced][drive] {color: white; width: 1.5; casing-color: #000; casing-width: 2}
way[road=advanced][!drive] {color: white; width: 1.5; casing-color: brown; casing-width: 2}
way[road=cutting] { color: black; width: 1.5; dashes: 15, 5}
way[road=abandoned] { color: black; width: 1.5; dashes: 6, 15}
way[road=path] { color: black; width: 1.5; dashes: 4, 4}
way[road=trench] { color: brown; width: 1.5; dashes: 4, 4}
way[road=wall] { color: brown; width: 1.5}
way[road=wall]::dashes { color: brown; width: 4.5; dashes: 3, 6}